/* Initial set of margin, padding and box-sizing*/

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  width: 100%;
  position: fixed;
  background-color: white;
}

/* Float left*/
.f-left {
  float: left;
}

/* Float right*/
.f-right {
  float: right;
}

/*Size and position logo */
.logo {
  margin-left: 20px;
  width: 90px;
  padding-top: 20px;
  margin-right: 20px;
}

/*Size and position buttons header */
.btn {
  font-size: 13px;
  margin-top: 20px;
  line-height: 20px;
  padding: 5px 15px;
  margin-right: 10px;
}

/* Remove underline bullet from list items*/
header li {
  list-style-type: none;
}
/* Remove underline of the a href in the list items*/
header a {
  text-decoration: none;
}
/*Color text black*/
.c-black {
  color: black;
}

/*Color text white*/
.c-white {
  color: white;
}

/*Background blue*/
.bg-blue {
  background-color: hsl(217deg 100% 50%);
}

/* Resetting floating*/
.clearfix {
  content: "";
  display: table;
  clear: both;
}
