/* Initial set of margin, padding and box-sizing*/

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  width: 100%;
  z-index: 500;
  background-color: white;
  position: fixed;
}

/* Float left*/
.f-left {
  float: left;
}

/* Float right*/
.f-right {
  float: right;
}

/*Size and position logo */
.logo {
  margin-left: 20px;
  width: 90px;
  padding-top: 20px;
  margin-right: 20px;
}

/*Size and position buttons header */
.btn {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
  line-height: 20px;
  padding: 5px 15px;
  margin-right: 10px;
}

/* Remove underline bullet from list items*/
header li {
  list-style-type: none;
}
/* Remove underline of the a href in the list items*/
header a,
.jumbotron a {
  text-decoration: none;
}
/*Color text black*/
.c-black {
  color: black;
}

/*Color text white*/
.c-white {
  color: white;
}

/*Background blue*/
.bg-blue {
  background-color: hsl(217deg 100% 50%);
}

/* Resetting floating*/
.clearfix {
  content: "";
  display: table;
  clear: both;
}

.jumbotron {
  padding-top: 60px;
  background-color: hsl(207deg 52% 81%);
}

/* Position relative */

.p-relative {
  position: relative;
}

/*Container with width 75% */
.container75p {
  width: 75%;
  margin: auto;
}

/*Container with width 60% */
.container60p {
  width: 60%;
  margin: auto;
}

/*Container with width 25% */
.container25p {
  width: 25%;
}

/* Set display block of an element */
.display-block {
  display: block;
}

/*Font size 13px*/
.f13px {
  font-size: 13px;
}

/*Font size 11px*/
.f11px {
  font-size: 11px;
}

/*Size h1 ofjumbotron*/
.jumbotron h1 {
  font-size: 65px;
  margin: 50px 0;
}

/*Size and margin tag a of jumbotron*/
.jumbotron a {
  width: 190px;
  margin-bottom: 10px;
}

/* Custom arrow-down*/
.jumbotron .fas {
  margin-top: 40px;
  font-size: 50px;
  margin-bottom: 80px;
}

/*Size img of jumbotron */
.jumbotron img {
  position: absolute;
  bottom: -40px;
  width: 58%;
  left: 350px;
}

.tables {
  margin-bottom: 200px;
}

/*Positioning title of h2 */
.tables h2 {
  margin: 100px 0 50px 0;
  font-size: 35px;
}

.radio-btn input:last-child {
  margin-left: 20px;
}

/* Column of the section tables*/
.column {
  margin-top: 5%;
  margin-right: 5%;
  width: calc(100% / 3 - 4%);
  border: 1px solid grey;
  margin-bottom: 100px;
}

/* Custom first row of the column */
.first-row-col {
  text-align: center;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid grey;
  font-size: 13px;
}

/* Remove underline bullet from list items in the sections*/
section li {
  list-style-type: none;
}

/* Remove underline from a href "prova gratis per 30 giorni" */
.column a.btn {
  text-decoration: none;
}

.font-color-blue {
  color: hsl(219deg 100% 54%);
}

/*  Start custom distance blocks's column*/

.first-block-column {
  line-height: 30px;
  margin: 30px 0;
}

.second-block-column li {
  margin-bottom: 20px;
}

.third-block-column {
  margin: 20px 0 40px 0;
}

.third-block-column span {
  padding-bottom: 20px;
}

.third-block-column a:first-child {
  margin-bottom: 20px;
}

.fourth-block-column li {
  margin: 20px 0 20px 0;
}

/* Finish custom distance fourth block column */
